body{
    margin: 0px;
}
h1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}
h3{
    font-family: 'Lato', sans-serif;
}
.yellow{
    color: orange;
}
.write{
    font-family: 'Lato', sans-serif;
}


.flexible-container {
   display: flex;
   font-family: 'Lato', sans-serif;
   margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;

    padding: 10px 14px;
    border-radius: 7px;

}
.top-banner{
    background-image: url(./image/top-banner.png);
    background-repeat: no-repeat ;

}
.dream-big{
    background-image: url(./image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;

}

.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5% ;
    margin-right: 5%;
    padding-left: 5px ;
    border-radius: 10px;
}
.exprince-area{
    background-image: url(./image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#web-ex{
    
    border-left: 7px solid;
    border-image: linear-gradient(red, green);
    border-image-slice: 1;
}
#exprince-fs{
    border-left: 7px solid;
    border-image: linear-gradient(blue ,orange);
    border-image-slice: 1;
}
footer{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    background-color:#34495e ;
    height: 100px;
    padding-top: 90px;
    font-size: 50px;
}

